# Minimales Starship Theme
format = """
$directory$git_branch$git_status$python$nodejs$cmd_duration
$character"""

[directory]
truncation_length = 3
style = "bold cyan"

[git_branch]
symbol = " "
style = "bold purple"

[git_status]
style = "bold red"

[python]
symbol = " "
style = "yellow"

[nodejs]
symbol = " "
style = "green"

[cmd_duration]
min_time = 2000
style = "yellow"

[character]
success_symbol = "[❯](bold green)"
error_symbol = "[❯](bold red)"
